openapi: 3.0.0
info:
  title: Space Tourism Website API
  description: Space Tourism Website API
  version: 0.1.9

servers:
  - url: https://space-tourism-website-api.dimitrikokhtashvili.site
    description: production server
  - url: http://localhost:3000
    description: local server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /api/destinations/{name}:
    get:
      summary: Get a destination by name
      description: This endpoint allows you to get a destination by name
      parameters:
        - in: path
          name: name
          required: true
          description: The name of the destination
          schema:
            type: string
      responses:
        "200":
          description: destination retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The success message

        "404":
          description: destination not found
        "500":
          description: Internal server error

  /api/crews/{name}:
    get:
      summary: Get a destination by name
      description: This endpoint allows you to get a destination by name.
      parameters:
        - in: path
          name: name
          required: true
          description: The name of the destination
          schema:
            type: string
      responses:
        "200":
          description: destination retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The success message

        "404":
          description: destination not found
        "500":
          description: Internal server error

  /api/technologies/{name}:
    get:
      summary: Get a destination by name
      description: This endpoint allows you to get a destination by name.
      parameters:
        - in: path
          name: name
          required: true
          description: The name of the destination
          schema:
            type: string
      responses:
        "200":
          description: destination retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The success message

        "404":
          description: destination not found
        "500":
          description: Internal server error
